In [1]:
10/3

3.3333333333333335

In [2]:
10//3

3

In [3]:
2**3

8

In [4]:
12<45 or 34>89

True

In [5]:
not 12>45

True

In [9]:
# Membership Operators -->in , not in
str1 = "abc xyz 123"
'n' in str1
print("abc" in str1)
print("n" not in str1)
print("123" in str1)

True
True
True

In [11]:
# Identity Operators-->is,is not
x = 19
y = 19
x is y

True

In [12]:
print(id(x),id(y))

140719430935504 140719430935504

In [13]:
x = 19
y = 20
print("x<y") if x<y else print("x>y")

x<y

In [17]:
if x<y:
    print("x<y")
    if 12<78:
        print("hello")
        print("jupyter")
    else:
        print("hai")
else:    
    print("x>y")

x<y
hello
jupyter

In [21]:
# Accept a no as an input and print whether the given number is positive or negative or zero
a = int(input("enter a number"))
if a>0:
    print("it is a positive number")
elif a<0:
        print("it is a negative number")
elif a==0:
    print("a value is zero")

enter a number9
it is a positive number

In [27]:
# Accept a number as an input and print the number if it is
# Divisible by 2 and 3 but not 4
a = int(input("enter a number"))
if (a%2==0 and a%3==0) and (a%4!=0):
    print("divisible by 2 and 3 only")

enter a number6
divisible by 2 and 3 only

In [36]:
# Accept 3 subjects marks of a student 
# if he gets >30 in all subjects -->average
# if he gets <30 in all subjects -->fail
# if avg>75 -->'A'
# if avg<75 -->'B'
# if avg<65 -->'C'
# if avg<50 -->'D'
# else -->fail
s1 = int(input("enter subject1 marks"))
s2 = int(input("enter subject2 marks"))
s3 = int(input("enter subject3 marks"))
if (s1>30 and s2>30 and s3>30):
    avg = (s1+s2+s3)/3
    if avg>75:
         print("A")
    elif avg>65 and avg<75:
        print("B")
    elif avg>50 and avg<65:
        print("C")
    elif avg>30 and avg<50:
        print("D")
    else:
        print("Fail")
else:
    print("Fail")

enter subject1 marks80
enter subject2 marks80
enter subject3 marks80
A

In [38]:
# Accept 3 subjects marks of a student 
# if he gets >30 in all subjects -->average
# if he gets <30 in all subjects -->fail
# if avg>75 -->'A'
# if avg<75 -->'B'
# if avg<65 -->'C'
# if avg<50 -->'D'
# else -->fail
s1,s2,s3 = map(int,input().split())
if (s1>30 and s2>30 and s3>30):
    avg = (s1+s2+s3)/3
    if avg>75:
         print("A")
    elif avg>65 and avg<75:
        print("B")
    elif avg>50 and avg<65:
        print("C")
    elif avg>30 and avg<50:
        print("D")
    else:
        print("Fail")
else:
    print("Fail")

50 30 40
Fail

In [1]:
# while loop
i = 1
n = int(input())
while i<=n:
    print(i,end =" ")
    i += 1

10
1 2 3 4 5 6 7 8 9 10

In [42]:
# sum of n natural numbers in the given range
i = 1
sum = 0
n = int(input())
while i<=n:
    sum += i
    i += 1
print(sum)

10
55

In [1]:
# sum of n even natural numbers in the given range!
i = 1
sum = 0
n = int(input())
while i<=n:
    if i%2 == 0:
        sum += i
    i += 1
print(sum)

19
90

In [7]:
# print digits of a given number
a = int(input())
while a!=0:
    print(a%10,end ='')
    a = a//10

123
321

In [10]:
# print the addition of given numbers
a = int(input())
sum = 0
while a!=0:
    sum = sum+a%10
    a = a//10
print(sum)

124
7

In [1]:
str1 = "application1889"
# sum of digits in the given string-->1+8+8+9=26
i = 0
sum = 0
while i<len(str1):
    if str1[i].isdigit():
        sum += int(str1[i])
    i += 1
print(sum)

26

In [2]:
ord('a')

97

In [8]:
str1 = "application1889"
# sum of digits in the given string-->1+8+8+9=26
i = 0
sum = 0
while i<len(str1):
    if ord(str1[i])>=48 and ord(str1[i])<=57:
        sum += int(str1[i])
    i += 1
print(sum)

26

In [5]:
i = 0
sum = 0
for i in str1:
    if i.isdigit():
        sum += int(i)
print(sum)

26

In [9]:
s = 0
for i in str1:
    if i.isdigit():
        s += int(i)
print(s)

26

In [10]:
# sum of n natural numbers
a = int(input("enter a number"))
for i in str1(1,a+1)

SyntaxError: invalid syntax (<ipython-input-10-60ececf27cc7>, line 2)

In [ ]:
# input:
    s1 = "abcdefghijklmnopqrstuvwxyz"
    width = 4
a = int(input())